### LAB Connecting Python to SQL

1- Establish a connection between Python and the Sakila database.

In [30]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

 ········

In [44]:
from sqlalchemy import create_engine, text

bd = "sakila"
password=password  # Remplace 'your_password' par ton mot de passe
connection_string = f'mysql+pymysql://root:{password}@localhost/{bd}'
engine = create_engine(connection_string)

2- Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) from the Sakila database as a Pandas DataFrame. The function should take in three parameters:

- engine: an object representing the database connection engine to be used to establish a connection to the Sakila database.
- month: an integer representing the month for which rental data is to be retrieved.
- year: an integer representing the year for which rental data is to be retrieved.

The function should execute a SQL query to retrieve the rental data for the specified month and year from the rental table in the Sakila database, and return it as a pandas DataFrame.

In [46]:
def rentals_month(engine, month, year):
    query = f"""
    SELECT rental_id, rental_date, inventory_id, customer_id
    FROM rental
    WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year};
    """ 
    
    df = pd.read_sql(query, con=engine)
    return df

3- Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input along with the month and year and returns a new DataFrame containing the number of rentals made by each customer_id during the selected month and year.

The function should also include the month and year as parameters and use them to name the new column according to the month and year, for example, if the input month is 05 and the year is 2005, the column name should be "rentals_05_2005".

Hint: Consider making use of pandas groupby()

In [4]:
def rental_count_month(df, month, year):
    rental_counts = df.groupby('customer_id').size().reset_index(name=f'rentals_{month:02}_{year}')
    return rental_counts

4- Create a Python function called compare_rentals that takes two DataFrames as input containing the number of rentals made by each customer in different months and years. The function should return a combined DataFrame with a new 'difference' column, which is the difference between the number of rentals in the two months.

In [5]:
def compare_rentals(df1, df2):

    merged_df = pd.merge(df1, df2, on='customer_id', how='outer').fillna(0)
    
    rental_columns = [col for col in merged_df.columns if col.startswith('rentals_')]
    merged_df['difference'] = merged_df[rental_columns[0]] - merged_df[rental_columns[1]]
    
    return merged_df

In [35]:
import getpass  # To get the password without showing the input
password = getpass.getpass()

 ········

In [42]:
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password=password,
    auth_plugin='mysql_native_password',
    database='sakila'
)

In [47]:
# Step 2: Retrieve rental data for May and June 2005
rentals_may = rentals_month(engine, 5, 2005)
rentals_june = rentals_month(engine, 6, 2005)

# Step 3: Calculate the number of rentals per customer for May and June
rentals_may_count = rental_count_month(rentals_may, 5, 2005)
rentals_june_count = rental_count_month(rentals_june, 6, 2005)

# Step 4: Compare the rental activity between May and June
comparison_df = compare_rentals(rentals_may_count, rentals_june_count)
comparison_df

     customer_id  rentals_05_2005  rentals_06_2005  difference
0              1              2.0              7.0        -5.0
1              2              1.0              1.0         0.0
2              3              2.0              4.0        -2.0
3              5              3.0              5.0        -2.0
4              6              3.0              4.0        -1.0
..           ...              ...              ...         ...
593          583              0.0              6.0        -6.0
594          585              0.0              4.0        -4.0
595          591              0.0              3.0        -3.0
596          592              0.0              5.0        -5.0
597          598              0.0              1.0        -1.0

[598 rows x 4 columns]